<h1> <%= @idea.name %> - <%= @idea.description %> </h1>
<p> <%= link_to 'Add new photo', new_idea_photo_path(@idea) %> </p>

<div class="photo_align">
	<% @photos.each do |photo| %>
		<td><%= image_tag(photo.id.to_s + "/" + photo.image_file_name)%></td>
		<p> <%= link_to 'Delete Photo', photo_path(photo), method: :delete, data:{ confirm: "Are you sure?" } %> </p>
	<% end %>
</div>


<% if Like::Like.liking?(current_user, @idea) %> <!--This is Better -->
  <%= link_to image_tag(asset_path( 'dislike.png' )), like_path_for(@idea), method: :delete %>
<% else %>
  <%= link_to image_tag(asset_path( 'like.png' )) , like_path_for(@idea), method: :post %>
<% end %>


<%=Like::Like.with_likeable(@idea).count%>


<h2>Comments</h2>
<%= render @idea.comments %>
 
<h2>Add a comment:</h2>
<%= render 'comments/form' %>

<% if policy(@idea).update? %>

<p> <%= link_to 'Edit', edit_idea_path(@idea) %> </p>
<p> <%= link_to 'Destroy', idea_path(@idea), method: :delete, data:{ confirm: "Are you sure?" } %> </p>

<% end %>

