<h1> <%= @idea.name %> </h1>
<h2> <%= @idea.description %> </h2>


<h2>Comments</h2>
<%= render @idea.comments %>
 
<h2>Add a comment:</h2>
<%= render 'comments/form' %>

<% if policy(@idea).update? %>

<p> <%= link_to 'Edit', edit_idea_path(@idea) %> </p>
<p> <%= link_to 'Destroy', idea_path(@idea), method: :delete, data:{ confirm: "Are you sure?" } %> </p>

<% end %>

