<style type="text/css">
	.myclass{
		text-align: center;
		font-size: 16px;
		margin-bottom: 10px;
	}
	.picadd{
		margin-bottom: 10px;
		display: block;
		margin-right: auto;
		margin-left: auto;
	}


</style>

<br>
<br>
<br>
<br>
<h1>Submit a new Fixit Request</h1>
<br>
<div class="border-form-div">

<%= form_for @fixit, html: {multipart: true} do |f| %>

	<%= f.text_field :name, :placeholder => "Name" %>
	<%= f.text_area :description, :placeholder => "Description", rows: 3, cols: 27, :class => 'myclass' %>
	<%= f.text_field :location, :placeholder => "Location" %>
	<%= f.file_field :pic, :class => 'picadd' %>
	<%= f.submit "create", :class=>"btn btn-primary"%>

<% end %>

</div>
