<h1>Orders for <%=@item.name %></h1>
<h2>Total units ordered: <%=@orders.size%> </h2>
<h2>XS: <%=@orders.where(size: "XS").size%>  S: <%=@orders.where(size: "S").size%>  M: <%=@orders.where(size: "M").size%> XS: <%=@orders.where(size: "L").size%> XL: <%=@orders.where(size: "XL").size%> 
</h2>

<%= render 'orders/orders_grid' %>

