<style type="text/css">
  .content:before {
  content: "";
  position: fixed;
  left: 0;
  right: 0;
  z-index: -1;
  
  display: block;
  background: url('http://i59.tinypic.com/1060rhf.jpg')no-repeat center center fixed;
  width: 1900px;
  height: 1500px;
  
  -webkit-filter: blur(3px);
  -moz-filter: blur(3px );
  -o-filter: blur(3px);
  -ms-filter: blur(3px);
  filter: blur(3px);
}
.content{
  background-color: rgba(0, 0, 0, .3);
}

/*  body{
    background-color: black;
    background: url('http://i58.tinypic.com/33uzlfc.jpg') no-repeat center center fixed;
    z-index: 1;
    right: 0;
    left: 0;

  }*/
  .sign_up{
    background-color: rgba(175, 175, 175, .85);
    display: block;
    margin-top: 150px;
    margin-bottom: 100px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    color: white;
  }
  h2{
    text-align: center;
    color: black;

  }
  h1{
    margin-top: 100px;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    font-size: 45px;
    color: white;
  }
  .logo{

    font-family: 'Lobster', cursive;
    font-weight: 400;
    font-size: 90px;
    text-align: center;
    color: #F5A000;
    -webkit-text-stroke: 1px black;
    margin-bottom: 100px;
  }
  .field{
    text-align: center;
  }
  .actions{
    text-align: center;
  }
  .login{
    text-align: center;
    font-size: 16px;
  }

</style>

<div class="content">

<div class="logo">House Mom </div>

<div class="border-form-div">

<h2>Log in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

  <%= f.email_field :email, :autofocus => true, :placeholder => 'Email address' %><br>

  <%= f.password_field :password, :placeholder => 'Password' %><br>


  <%= f.submit "Sign in", :class=>"btn btn-primary"%>
<% end %>

<%= render "devise/shared/links" %>
</div>

<h1>Alpha Epsilon Pi - Omega Deuteron</h1>

</div>