<style type="text/css">
	.title{
		text-align: center;
	}

	.td{
		text-align: center;
	}

	div{
		text-align: center;
	}

	img{
		display: block;
		margin-left: auto;
		margin-right: auto;
	}

	.created{
		text-align: center;
		font-size: 13px;
	}


</style>



	<br/><br/><br/>
	<h1>Shop Items</h1>

	<% if current_user.admin? %>
	<div>
	<%= button_to "Add an item", new_item_path, :class => "btn btn-info btn-lg raised", :method => :get %>
	</div>
	
<% end %>
	<div class="row">
	<% @items.each do | item |%>
		<div class="col-sm-6 col-md-4 col-lg-3 item-image-box">
			
			<% if item.photos.first %>
				<td><%= link_to image_tag((item.photos.first.id.to_s + "/" + item.photos.first.image_file_name), height: 250, width: 250) , item_path(item) %></td>
			<% else %>
				<td><%= link_to image_tag('default-image.png', height: 250, width: 250) , item_path(item) %></td>
			<% end %>
			<p class="title"> <%= item.name %> </p>
			<p class="created"> Created by <%= item.user.first_name %> <%= item.user.last_name %></p>

		</div>
	<% end %>
	</div>





