<h1> <%= @item.name %> - <%= @item.description %> $<%= @item.price %> </h1>
<h2> <%= link_to 'Add new photo', new_item_photo_path(@item) %> </h2>

<div class="row row-centered">
<% @photos.each do |photo| %>
	<div class="col-sm-3 col-centered item-image-box">
		<%= image_tag(photo.id.to_s + "/" + photo.image_file_name, class: 'img-responsive') %>
		<p> <%= link_to 'Delete Photo', photo_path(photo), method: :delete, data:{ confirm: "Are you sure?" } %> </p>
	</div>
<% end %>
</div>

<p> <%= form_tag item_charges_path(@item) do %>

  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-name="AEPi Omega D"
          data-description=<%= @item.name %> 
          data-amount=<%= @item.price * 100 %> 
          data-email=<%= current_user.email %> >
 </script>


<% end %>
 </p>


<p> <%= link_to 'Edit', edit_item_path(@item) %> </p>
<p> <%= link_to 'Destroy', item_path(@item), method: :delete, data:{ confirm: "Are you sure?" } %> </p>

