<style type="text/css">
     .form_input{
          display: block;
          margin-left: auto;
          margin-right: auto;
     }

</style>

<div class="border-form-div-3">

<%= form_tag item_charges_path(@item) do %>
 <p> 
 <%= select_tag "size", "<option>XS</option><option>S</option><option>M</option><option>L</option><option>XL</option>".html_safe, multiple: false, class: 'form_input', id: 'unique_id' %>
 </p>
 <p> 
 <%= text_field_tag 'description', nil, placeholder: 'Order Comments?', size: 25 %>
 </p>
  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-name="AEPi Omega D"
          data-description=<%= @item.name %> 
          data-amount=<%= @item.price * 100 %> 
          data-allow-remember-me=false
          data-email=<%= current_user.email %>
          data-image=<%= asset_path('aepi_small.jpg')%>
          data-zip-code=true
          >
 </script>


<% end %>
</div>
