<style type="text/css">
  strong{
    color: ghostwhite;
  }
</style>

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <% if user_signed_in? %>
        <li class="dog"><%= link_to image_tag(asset_path('housemom.png'), size:"115x25"), root_path %> </li>
        <li><%= link_to 'Ideas', ideas_path %> </li>
        <li><%= link_to 'Store', items_path %> </li>


        <% end %>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li>
          <% if user_signed_in? %> 
          <br>Logged in as 
          <strong><%= current_user.first_name +  " "  + current_user.last_name %></strong>.
          <% if current_user.role == 1 %>
            (Admin)
          <% end %>
          <% end %>
        </li>
        <% if user_signed_in? %> 
        <li><%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> </li>
        <li><%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link' %> </li>
        <% else %>
        <li> <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> </li>
        <li> <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %> </li>
        <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>


<!-- need help on this!!! -->
<script type="text/javascript">
$(".nav li a").on("click", function(){
   $(".nav li").find(".active").removeClass("active");
   $(this).parent().addClass("active") 
});
</script>